* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    transition: all 300ms ease-in 0s;
}

main.container-app {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}